/* Estructura.css */
body {
  margin: 0;
  font-family: sans-serif;
}

/* Fondo degradado solo para la ruta "/" */
.home-background {
  background: linear-gradient(135deg, #8A7BB7, white);
}

/* Fondo blanco para el resto de las páginas */
.white-background {
  background: white;
}

.contenedor-estructura {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  text-align: center;
  padding: 1rem;
  background: transparent;
  color: black;
  text-shadow: 0 1px 2px rgba(255,255,255,0.7);
}

.launcher-vistaPrincipal {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.oval-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  width: 80vw;
  max-width: 800px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-items: center;
  align-items: center;
}

.icon-wrapper.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.main-footer {
  text-align: center;
  padding: 1rem;
  background: transparent;
  color: black;
  text-shadow: 0 1px 2px rgba(255,255,255,0.7);
}
